# Assignment 14 - Decision Trees

Use decision trees to prepare a model on fraud data treating those 
who have taxable_income <= 30000 as "Risky" and others are "Good"


Data Description :

Undergrad : person is under graduated or not

Marital.Status : marital status of a person

Taxable.Income : Taxable income is the amount of how much tax an individual owes to the government 

Work Experience : Work experience of an individual person

Urban : Whether that person belongs to urban area or not

In [1]:
#importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Fraud_check.csv")

In [2]:
#Viewing top 5 rows of dataframe
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
df.tail()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [4]:
#Creating dummy vairables for ['Undergrad','Marital.Status','Urban'] dropping first dummy variable
df=pd.get_dummies(df,columns=['Undergrad','Marital.Status','Urban'], drop_first=True)

In [5]:
#Creating new cols TaxInc and dividing 'Taxable.Income' cols on the basis of [10002,30000,99620] for Risky and Good
df["TaxInc"] = pd.cut(df["Taxable.Income"], bins = [10002,30000,99620], labels = ["Risky", "Good"])

# Lets assume: taxable_income <= 30000 as “Risky=0” and others are “Good=1”

In [6]:
#After creation of new col. TaxInc also made its dummies var concating right side of df
df = pd.get_dummies(df,columns = ["TaxInc"],drop_first=True)

In [7]:
#Viewing buttom 10 observations
df.tail(10)

,Taxable.Income,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES,TaxInc_Good
590,43018,85195,14,0,1,0,1,1
591,27394,132859,18,1,0,1,1,0
592,68152,75143,16,1,0,1,0,1
593,84775,131963,10,0,0,0,1,1
594,47364,97526,9,0,1,0,1,1
595,76340,39492,7,1,0,0,1,1
596,69967,55369,2,1,0,0,1,1
597,47334,154058,0,0,0,0,1,1
598,98592,180083,17,1,1,0,0,1
599,96519,158137,16,0,0,0,0,1

In [8]:
# Normalization function 
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [9]:
# Normalized data frame (considering the numerical part of data)
df_norm = norm_func(df.iloc[:,1:])
df_norm.tail(10)

,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES,TaxInc_Good
590,0.341473,0.466667,0.0,1.0,0.0,1.0,1.0
591,0.615406,0.600000,1.0,0.0,1.0,1.0,0.0
592,0.283703,0.533333,1.0,0.0,1.0,0.0,1.0
593,0.610256,0.333333,0.0,0.0,0.0,1.0,1.0
594,0.412341,0.300000,0.0,1.0,0.0,1.0,1.0
595,0.078811,0.233333,1.0,0.0,0.0,1.0,1.0
596,0.170058,0.066667,1.0,0.0,0.0,1.0,1.0
597,0.737240,0.000000,0.0,0.0,0.0,1.0,1.0
598,0.886810,0.566667,1.0,1.0,0.0,0.0,1.0
599,0.760683,0.533333,0.0,0.0,0.0,0.0,1.0

In [10]:
# Declaring features & target
X = df_norm.drop(['TaxInc_Good'], axis=1)
y = df_norm['TaxInc_Good']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
# Splitting data into train & test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
#Choosing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

In [15]:
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

RandomForestClassifier(n_estimators=200)

In [22]:
##Converting the Taxable income variable to bucketing. 
df["income"]="<=30000"
df.loc[df["Taxable.Income"]>=30000,"income"]="Good"
df.loc[df["Taxable.Income"]<=30000,"income"]="Risky"

In [23]:
##Droping the Taxable income variable
df.drop(["Taxable.Income"],axis=1,inplace=True)

In [24]:
df.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"},inplace=True)
## As we are getting error as "ValueError: could not convert string to float: 'YES'".
## Model.fit doesnt not consider String. So, we encode

In [25]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in df.columns:
    if df[column_name].dtype == object:
        df[column_name] = le.fit_transform(df[column_name])
    else:
        pass

In [26]:
##Splitting the data into featuers and labels
features = df.iloc[:,0:5]
labels = df.iloc[:,5]

In [27]:
## Collecting the column names
colnames = list(df.columns)
predictors = colnames[0:5]
target = colnames[5]

In [28]:
##Splitting the data into train and test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.2,stratify = labels)

In [29]:
##Model building
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs = 3,n_estimators = 15, oob_score = True, criterion = "entropy")
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [30]:
model.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1067276996),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=437041126),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1038013900),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1664507382),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=934072640),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2075634870),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=633982552),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2104936945),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1820283907),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=711946110),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=307348666),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=671417416),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=499748143),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=427405275),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1018896388)]

In [31]:
model.classes_
model.n_features_
model.n_classes_

model.n_outputs_

model.oob_score_
###74.7833%

0.5020833333333333

In [32]:
##Predictions on train data
prediction = model.predict(x_train)

In [33]:
##Accuracy
# For accuracy 
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,prediction)
##98.33%

In [35]:
import numpy as np
np.mean(prediction == y_train)
##98.33%

0.9916666666666667

In [36]:
##Confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_train,prediction)

In [37]:
##Prediction on test data
pred_test = model.predict(x_test)

In [38]:
##Accuracy
acc_test =accuracy_score(y_test,pred_test)
##78.333%

In [42]:
## In random forest we can plot a Decision tree present in Random forest
from sklearn.tree import export_graphviz
import pydotplus
from sklearn.externals.six import StringIO

ModuleNotFoundError: No module named 'pydotplus'

In [41]:
conda install pydotplus

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pydotplus


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.0               |   py38haa95532_0         2.9 MB
    graphviz-2.38              |       hfd603c8_2        29.3 MB
    pydotplus-2.0.2            |             py_3          23 KB
    ------------------------------------------------------------
                                           Total:        32.2 MB

The following NEW packages will be INSTALLED:

  graphviz           pkgs/main/win-64::graphviz-2.38-hfd603c8_2
  pydotplus          pkgs/main/noarch::pydotplus-2.0.2-py_3

The following packages will be UPDATED:

  conda                                        4.8.3-py38_0 --> 4.10.0-py38haa95532_0



Downloading and Extracting Packages

pydotplus-2.0.2      | 23 KB     |            |   0%
pydotplus-2.0.2      | 23 KB     | ######8    |  68%
pydotplus-2.0.2      | 23 KB     | ########## | 100%

graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   1%
graphviz-2.38        | 29.3 MB   |            |   1%
graphviz-2.38        | 29.3 MB   |            |   1%
graphviz-2.38        | 29.3 MB   | 1          |   1%
graphviz-2.38        | 29.3 MB   | 1          |   1%
graphviz-2.38        | 29.3 MB   | 1          |   1%
graphviz-2.38        | 29.3 MB   | 1          |   1%
graphviz-2.38        | 29.3 MB   | 1          |   2%
graphviz-2.38        | 29.3 MB   | 1          |   2%
graphviz-2.38        | 29.3 MB   | 2          |   2%
graphviz-2.38        | 29.3 MB   | 2          |   2%
graphviz-2.38        | 29.3 MB   | 2          |   2%
graphviz-2.38        | 29.3 MB   | 2          |   2%
graphviz-2.38        | 29.3 MB   | 2          |   3%
graphviz-2.38        | 29.3 MB   | 2          |   3%
graphviz-2.38        | 29.3 MB   | 3          |   3%
graphviz-2.38        | 29.3 MB   | 3          |   3%
graphviz-2.38        | 29.3 MB   | 3          |   4%
graphviz-2.38        | 29.3 MB   | 3          |   4%
graphviz-2.38        | 29.3 MB   | 3          |   4%
graphviz-2.38        | 29.3 MB   | 4          |   4%
graphviz-2.38        | 29.3 MB   | 4          |   4%
graphviz-2.38        | 29.3 MB   | 4          |   5%
graphviz-2.38        | 29.3 MB   | 5          |   5%
graphviz-2.38        | 29.3 MB   | 5          |   5%
graphviz-2.38        | 29.3 MB   | 5          |   6%
graphviz-2.38        | 29.3 MB   | 6          |   6%
graphviz-2.38        | 29.3 MB   | 6          |   7%
graphviz-2.38        | 29.3 MB   | 6          |   7%
graphviz-2.38        | 29.3 MB   | 7          |   7%
graphviz-2.38        | 29.3 MB   | 7          |   8%
graphviz-2.38        | 29.3 MB   | 7          |   8%
graphviz-2.38        | 29.3 MB   | 8          |   8%
graphviz-2.38        | 29.3 MB   | 8          |   8%
graphviz-2.38        | 29.3 MB   | 8          |   9%
graphviz-2.38        | 29.3 MB   | 8          |   9%
graphviz-2.38        | 29.3 MB   | 9          |   9%
graphviz-2.38        | 29.3 MB   | 9          |   9%
graphviz-2.38        | 29.3 MB   | 9          |   9%
graphviz-2.38        | 29.3 MB   | 9          |  10%
graphviz-2.38        | 29.3 MB   | #          |  10%
graphviz-2.38        | 29.3 MB   | #          |  10%
graphviz-2.38        | 29.3 MB   | #          |  11%
graphviz-2.38        | 29.3 MB   | #          |  11%
graphviz-2.38        | 29.3 MB   | #1         |  12%
graphviz-2.38        | 29.3 MB   | #2         |  12%
graphviz-2.38        | 29.3 MB   | #2         |  12%
graphviz-2.38        | 29.3 MB   | #3         |  14%
graphviz-2.38        | 29.3 MB   | #4         |  14%
graphviz-2.38        | 29.3 MB   | #4         |  14%
graphviz-2.38        | 29.3 MB   | #4         |  15%
graphviz-2.38        | 29.3 MB   | #5         |  15%
graphviz-2.38        | 29.3 MB   | #5         |  16%
graphviz-2.38        | 29.3 MB   | #5         |  16%
graphviz-2.38        | 29.3 MB   | #6         |  17%
graphviz-2.38        | 29.3 MB   | #7         |  17%
graphviz-2.38        | 29.3 MB   | #7         |  18%
graphviz-2.38        | 29.3 MB   | #8         |  19%
graphviz-2.38        | 29.3 MB   | #8         |  19%
graphviz-2.38        | 29.3 MB   | #9         |  20%
graphviz-2.38        | 29.3 MB   | ##         |  20%
graphviz-2.38        | 29.3 MB   | ##         |  21%
graphviz-2.38        | 29.3 MB   | ##1        |  21%
graphviz-2.38        | 29.3 MB   | ##2        |  22%
graphviz-2.38        | 29.3 MB   | ##2        |  23%
graphviz-2.38        | 29.3 MB   | ##3        |  24%
graphviz-2.38        | 29.3 MB   | ##4        |  24%
graphviz-2.38        | 29.3 MB   | ##4        |  24%
graphviz-2.38        | 29.3 MB   | ##5        |  25%
graphviz-2.38        | 29.3 MB   | ##5        |  26%
graphviz-2.38        | 29.3 MB   | ##6        |  26%
graphviz-2.38        | 29.3 MB   | ##7        |  27%
graphviz-2.38        | 29.3 MB   | ##8        |  28%
graphviz-2.38        | 29.3 MB   | ##9        |  29%
graphviz-2.38        | 29.3 MB   | ##9        |  30%
graphviz-2.38        | 29.3 MB   | ###        |  31%
graphviz-2.38        | 29.3 MB   | ###2       |  32%
graphviz-2.38        | 29.3 MB   | ###3       |  34%
graphviz-2.38        | 29.3 MB   | ###4       |  34%
graphviz-2.38        | 29.3 MB   | ###5       |  35%
graphviz-2.38        | 29.3 MB   | ###7       |  37%
graphviz-2.38        | 29.3 MB   | ###7       |  38%
graphviz-2.38        | 29.3 MB   | ###8       |  38%
graphviz-2.38        | 29.3 MB   | ####       |  40%
graphviz-2.38        | 29.3 MB   | ####       |  41%
graphviz-2.38        | 29.3 MB   | ####2      |  42%
graphviz-2.38        | 29.3 MB   | ####3      |  43%
graphviz-2.38        | 29.3 MB   | ####4      |  44%
graphviz-2.38        | 29.3 MB   | ####5      |  45%
graphviz-2.38        | 29.3 MB   | ####6      |  46%
graphviz-2.38        | 29.3 MB   | ####7      |  48%
graphviz-2.38        | 29.3 MB   | ####8      |  49%
graphviz-2.38        | 29.3 MB   | ####9      |  50%
graphviz-2.38        | 29.3 MB   | #####      |  51%
graphviz-2.38        | 29.3 MB   | #####1     |  51%
graphviz-2.38        | 29.3 MB   | #####3     |  53%
graphviz-2.38        | 29.3 MB   | #####4     |  54%
graphviz-2.38        | 29.3 MB   | #####5     |  55%
graphviz-2.38        | 29.3 MB   | #####5     |  56%
graphviz-2.38        | 29.3 MB   | #####6     |  56%
graphviz-2.38        | 29.3 MB   | #####6     |  57%
graphviz-2.38        | 29.3 MB   | #####8     |  58%
graphviz-2.38        | 29.3 MB   | #####9     |  60%
graphviz-2.38        | 29.3 MB   | ######     |  61%
graphviz-2.38        | 29.3 MB   | ######1    |  62%
graphviz-2.38        | 29.3 MB   | ######2    |  63%
graphviz-2.38        | 29.3 MB   | ######3    |  64%
graphviz-2.38        | 29.3 MB   | ######5    |  66%
graphviz-2.38        | 29.3 MB   | ######6    |  66%
graphviz-2.38        | 29.3 MB   | ######7    |  68%
graphviz-2.38        | 29.3 MB   | ######8    |  68%
graphviz-2.38        | 29.3 MB   | ######9    |  69%
graphviz-2.38        | 29.3 MB   | #######1   |  71%
graphviz-2.38        | 29.3 MB   | #######2   |  72%
graphviz-2.38        | 29.3 MB   | #######2   |  73%
graphviz-2.38        | 29.3 MB   | #######4   |  74%
graphviz-2.38        | 29.3 MB   | #######4   |  75%
graphviz-2.38        | 29.3 MB   | #######5   |  76%
graphviz-2.38        | 29.3 MB   | #######7   |  78%
graphviz-2.38        | 29.3 MB   | #######9   |  79%
graphviz-2.38        | 29.3 MB   | ########   |  81%
graphviz-2.38        | 29.3 MB   | ########1  |  82%
graphviz-2.38        | 29.3 MB   | ########2  |  83%
graphviz-2.38        | 29.3 MB   | ########3  |  83%
graphviz-2.38        | 29.3 MB   | ########5  |  85%
graphviz-2.38        | 29.3 MB   | ########6  |  86%
graphviz-2.38        | 29.3 MB   | ########7  |  87%
graphviz-2.38        | 29.3 MB   | ########7  |  88%
graphviz-2.38        | 29.3 MB   | ########8  |  89%
graphviz-2.38        | 29.3 MB   | ########9  |  89%
graphviz-2.38        | 29.3 MB   | #########  |  90%
graphviz-2.38        | 29.3 MB   | #########  |  91%
graphviz-2.38        | 29.3 MB   | #########1 |  92%
graphviz-2.38        | 29.3 MB   | #########4 |  95%
graphviz-2.38        | 29.3 MB   | #########5 |  95%
graphviz-2.38        | 29.3 MB   | ########## | 100%

conda-4.10.0         | 2.9 MB    |            |   0%
conda-4.10.0         | 2.9 MB    | #####8     |  58%
conda-4.10.0         | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(139): Could not remove or rename C:\Users\perline.anisha\.conda\pkgs\pytorch-1.7.1-py3.7_cuda110_cudnn8_0.tar.bz2.  Please remove this file manually (you may need to reboot to free file handles)
WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(139): Could not remove or rename C:\Users\perline.anisha\.conda\pkgs\pytorch-1.7.1-py3.7_cuda110_cudnn8_0\Lib\site-packages\torch\lib\cudnn_adv_infer64_8.dll.  Please remove this file manually (you may need to reboot to free file handles)

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3